numpy==1.26.3
scikit-learn==1.4.2
matplotlib==3.8.4
pandas==2.2.2
tqdm==4.66.2
nltk==3.8.1
seaborn==0.13.2
wandb==0.16.6
ipython==8.23.0
polars==1.2.0
polars-u64-idx==1.2.0
plotly==5.20.0
lightning==2.2.3
pytorch_lognormal_mixture==0.0.1
pyo3-pack==0.6.1
optuna==3.6.1
pyyaml==6.0
duckdb==1.1.0

